Package: com.doimty.nrmanager
Name: NR Manager
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 1.7.0
Architecture: iphoneos-arm64
Description: Select NR bands and view live serving status in Control Center
Maintainer: doimty
Author: doimty
Section: Control Center (Modules)
