Package: com.doimty.nrmanager.livecc
Name: NR Manager Live CC Prototype
Depends: com.opa334.ccsupport
Version: 0.0.5
Architecture: iphoneos-arm64
Description: Non-deliverable read-only live serving status preview for NR Manager
Maintainer: 灰灰
Author: 灰灰
Section: Control Center (Modules)
